* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #c1bdb3;
}

.header {
    color: white;
    background-color: #3D3B3C;
    display: flex;
    padding: 0 64px;
}

.headerlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 24px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.one {
    display: flex;
    justify-content: center;
    background-color: #3D3B3C;
    color: white;
    align-items: center;
    gap: 128px;
    padding-bottom: 100px;
}

.herotext {
    width: 400px;
}

.herotext h1 {
    font-size: 48px;
}

button {
    background-color: #5f5b6b;
    color: #c1bdb3;
    border-radius: 10px;
    padding: 8px 32px;
    width: 200px;
    font-weight: bold;
    border: none;
    font-size: 20px;
}

.container.two {
    flex-direction: column;
}

.cardwrapper {
    display: flex;
    gap: 32px;
    text-align: center;
    color: #5f5b6b;
    margin-bottom: 128px;
    font-style: italic;
}

.card {
    width: 200px;
}

.card img {
    height: 200px;
    width: auto;
}

.container.three {
    flex-direction: column;
    background-color: #999191;
}

.quotewrapper {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 900px;
    margin: 64px;
}

.quotewrapper h3 {
    align-self: flex-end;
    margin-top: 10px;
    font-size: 24px;
}

.signupwrapper {
    background-color: #999191;
    margin: 64px;
    padding: 32px 86px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
    border-radius: 25px;
}

.footer {
    background-color: #1F2937;
    color: #c1bdb3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}