* {
    border: 1px solid red;
    font-family:"fantasy";
}

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    background-color: darkblue;
    display: flex;
    padding: 0 64px;
}

.headerlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 24px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.one {
    display: flex;
    justify-content: center;
    background-color: darkblue;
    color: white;
    border: 5px solid green;
    align-items: center;
    gap: 128px;
}

.herotext {
    width: 400px;
}

.herotext h1 {
    font-size: 48px;
}

button {
    background-color: aqua;
    border-radius: 20%;
    padding: 8px 16px;
    font-weight: bold;
}

.container.two {
    flex-direction: column;
}

.cardwrapper {
    display: flex;
    gap: 32px;
    text-align: center;
    color: grey;
    margin-bottom: 128px;
}

.card {
    width: 200px;
}

.card img {
    height: 200px;
    width: auto;
}